<suite name="Parallel Tests" parallel="tests" thread-count="10" verbose="1">
    <tests>
        <test name="Outfits">
            <parameters>
                <parameter name="browser" value="androidPhoneLandscape"/>
                <parameter name="testGroup" value=""/>
                <parameter name="testCaseID" value="VerifyOutFit13A250"/>
            </parameters>
            <classes>
                <class name="com.HS.scripts.TestEngine"/>
            </classes>
        </test>
    </tests>
</suite>
